;
; Copyright © 2021 Peter Monks
;
; This Source Code Form is subject to the terms of the Mozilla Public
; License, v. 2.0. If a copy of the MPL was not distributed with this
; file, You can obtain one at https://mozilla.org/MPL/2.0/.
;
; SPDX-License-Identifier: MPL-2.0
;

{:deps
   {clj-http/clj-http {:mvn/version "3.13.0"}
    org.jsoup/jsoup   {:mvn/version "1.18.1"}
    hickory/hickory   {:mvn/version "0.7.1"}}
 :aliases
   {:build {:deps       {com.github.pmonks/pbr {:mvn/version "RELEASE"}}
            :ns-default pbr.build}}}
